#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    color:blue;
}

#navbar .nav-links{
    display: flex;
    gap: 15px;
    color: blue;
}
#navbar button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
}
#top-section {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card{
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: white;
}
.card button{
    background-color: white;
    color: red;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
}
.mid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}
.mid-card{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.mid-card div{
    color: red;
    border-top: 1px solid black;
    padding: 10px 15px;
}
#bottom{
    display: flex;
    gap: 20px;
    padding: 10px;
    border-top: 10px solid black;
}


    